<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


<!-- 	Application Beans -->


	<bean id="calculTaskConsumerListener" class="neomcfly.calcul.impl.CalculTaskConsumerListener" />
	
	<bean id="calcukTaskProvider" class="neomcfly.calcul.impl.CalcukTaskProvider">
		<property name="jmsTemplate" ref="jmsTemplate" />
	</bean>
	
	<bean id="poolUser" class="neomcfly.user.impl.PoolUser">
		<property name="provider" ref="calcukTaskProvider" />
	</bean>
	
	
<!-- 	JMS Beans -->

	<bean id="connectionFactory"  class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="tcp://10.82.79.78:61616" />
		<property name="userName" value="admin" />
		<property name="password" value="admin" />
	</bean>

	<bean id="destination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg index="0" value="springtest" />
	</bean>

	<bean id="jmsListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
	  <property name="connectionFactory" ref="connectionFactory"/>
	  <property name="destination" ref="destination"/>
	  <property name="messageListener" ref="calculTaskConsumerListener" />
	  <property name="concurrentConsumers" value="25" />
	  <property name="sessionTransacted" value="true"/>
	</bean>

	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<constructor-arg ref="connectionFactory" />
<!-- 		<property name="connectionFactory" ref="connectionFactory" /> -->
		<property name="defaultDestination" ref="destination" />
	</bean>




<!-- 	OLD JMS Beans -->

<!-- 	<bean id="jmsListenerContainerFactory" class="org.springframework.jms.config.DefaultJmsListenerContainerFactory"> -->
<!-- 	    <property name="connectionFactory" ref="connectionFactory"/> -->
<!-- 	    <property name="destinationResolver" ref="destinationResolver"/> -->
<!-- 	    <property name="concurrency" value="25-25"/> -->
<!-- 		<property name="messageListener" ref="messageListener" /> -->
<!-- 	</bean> -->

<!-- 	<bean id="destinationResolver"  -->
<!-- 			class="org.springframework.jms.support.destination.DynamicDestinationResolver"> -->
<!-- 	</bean> -->

<!-- 	<bean id="connectionFactory"  -->
<!-- 			class="org.apache.activemq.ActiveMQConnectionFactory"> -->
<!-- 		<property name="brokerURL" value="tcp://localhost:61616" /> -->
<!-- 	</bean> -->

<!-- 	<bean id="defaultDestination" class="org.apache.activemq.command.ActiveMQQueue"> -->
<!-- 		<constructor-arg index="0" value="springtest" /> -->
<!-- 	</bean> -->

<!-- 	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate"> -->
<!-- 		<property name="connectionFactory" ref="connectionFactory" /> -->
<!-- 		<property name="defaultDestination" ref="defaultDestination" /> -->
<!-- 	</bean> -->



</beans>

